<h1>register</h1>
<form action="/register" method="POST">
<div>
    <label for="navn">Navn</label>
    <input type="text" name="navn" id="navn" required>
</div>

<div>
    <label for="brugernavn">brugernavn</label>
    <input type="text" name="brugernavn" id="brugernavn" required>
</div>

<div>
    <label for="password">password</label>
    <input type="password" name="password" id="password" required>
</div>

<div>
    <label for="favoritNyhedsKategori">favorit nyhedskategori</label>
    <input type="taxt" name="favoritNyhedsKategori" id="favoritNyhedsKategori" required>
</div>
<button type="submit">Register</button>

<a href="/login">login</a>
</form>